# Visual Studio Code
.vscode/

# Visual Studio
.vs/
*.suo
*.user
*.sln.docstates
*.ipch/
*.obj/
*.pdb
*.cache
*.dll

# JetBrains
.idea/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/

# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon
._*

# Project
data
saved_models
pictures